/* General */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.bar, .times {
    display: none;
}
.imgLogo {
    text-align: center;
}

/* Menu */
.centerMenu ul {
    display: flex;
    justify-content: center;
}
.centerMenu li {
    list-style: none;
    padding: 0 15px;
}
.centerMenu li a {
    display: inline-block;
    text-decoration: none;
    color: black;
}
.centerMenu li a:hover{
    color:#F2DD6E;
}
.centerMenu span{
    color: #F2DD6E;
}
.flexBlog section{
    margin-bottom: 70px;
}
.bar, .times {
    display: none;
}
/* blog story */
.firstBlogStory img {
    height: 500px;
    width: auto;
}
.firstBlogStory button{
    float: right;
    border: none;
    cursor: hand;
    color: #fff;
    background-color: #F2DD6E;
    outline: none;
    padding: 12px 20px;
}
.secondBlogStory img {
    height: 500px;
    width: auto;
}
.secondBlogStory button{
    float: right;
    border: none;
    cursor: hand;
    color: #fff;
    background-color: #F2DD6E;
    outline: none;
    padding: 12px 20px;
}
.thirdBlogStory img {
    height: 500px;
    width: auto;
}
.thirdBlogStory button {
    float: right;
    border: none;
    cursor: hand;
    color: #fff;
    background-color: #F2DD6E;
    outline: none;
    padding: 12px 20px;
}
.reply input, .reply textarea, .commentBtn button {
    width: 100%;
    margin-bottom: 5px;
}
.reply button {
    padding: 12px 20px;
    color: white;
    background-color: #F2DD6E;
    border: none;
    cursor: hand;
    outline: none;
}
.commentBtn {
    text-align: center;
}
/* Aside */
.blogSide input{
    padding: 10px 20px;
    width: 50%;
}
.blogSide i {
    background-color: #F2DD6E;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
.flexBlog {
    display: flex;
    justify-content: space-between;
}
.blogSide a {
    text-decoration: none;
    color: #F2DD6E;
}
.blogSide p {
    color: #F2DD6E;
}


/* Footer */

.footer {
    margin-top: 30px;
    text-align: center;
}

/* For Tablet */
@media(max-width: 768px){
    .container {
        width: 90%;
    }
}

/* Mobile version */
@media(max-width: 480px){
    .container{
        width: 100%;
    }
    nav {
        display: none;
    }
    .times, .bar {
        display: contents;
    }
    .logo {
        position: relative;
        padding: 30px 0;
    }
    .imgLogo {
        text-align: center;
    }
    .flexBlog {
        display: flex;
        flex-direction: column;
    }
    .keyword {
        text-align: center;
    }
    .mainBlog img {
        width: 100%;
        height: auto;
    }

    .bar button {
        position: absolute;
        right: 8px;
        top: 28px;
        padding: 7px;
        border-radius: 4px;
        outline: none;
        border: none;
        background-color: #F6AE2D;
        color: #fff;
    }
    /* Transition for hamburger click */
    .times{
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        height: 100%;
        width: 100%;
        transform: translate(200%);
        transition-duration: 1s;
    }
    .timesOut {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        height: 100%;
        width: 60%;
        transform: translate(0);
        transition-duration: 1s;
        z-index: 1;
    }
    .times button {
        position: relative;
        right: 130%;
        margin-top: 60px;
        outline: none;
        border: none;
        cursor: pointer;
        color: white;
        padding: 7px;
        border-radius: 5px;
        background-color: #F6AE2D;
    }
    .timesMenu ul {
        list-style: none;
        margin-top: 20px;
    }
    .timesMenu li {
        padding: 15px 15px 15px 0;
    }
    .timesMenu li a {
        text-decoration: none;
        color: #333;
        font-family: "Open sans", sans-serif;
    }
    .timesMenu ul li a:hover {
        color:#F2DD6E;
    }
    .timesMenu span {
        color: #F6AE2D;
    }

}