/* General */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}
.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}
.bar, .times {
    display: none;
}
.imgLogo {
    text-align: center;
}

/* Menu */
.centerMenu ul {
    display: flex;
    justify-content: center;
}
.centerMenu li {
    list-style: none;
    padding: 0 15px;
}
.centerMenu li a {
    display: inline-block;
    text-decoration: none;
    color: black;
}
.centerMenu ul li a:hover{
    color:#F2DD6E;
}
.centerMenu span{
    color: #F2DD6E;
}

/* First cover picture */
.cover {
    position: relative;
}
.home {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.home h1 {
    font-weight: bolder;
    color: #fff;
    font-size: 30px;
    margin: 0;
}
.home h2 {
    background-color: rgba(225,225,225, 0.3);
    border-radius: 7px;
    font-weight: bolder;
    font-size: 80px;
    margin: 0;
    padding: 0 7px;
    color: #fff;
}
.reserveBtn {
    position: absolute;
    left: 50%;
    bottom: 17%;
    transform: translate(-50%, -50%);
    text-align: center;
}
button.reserve {
    font-size: 16px;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    color: #fff;
    background-color: #F6AE2D;
    outline: none;
}
.reserveBtn button:hover {
    background-color: transparent;
    border: solid #F6AE2D 3px;
}
/* Welcome address */
.welcome span {
    color: #F6AE2D;
}
.welcome {
    text-align: center;
}
.welcome h1 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}
.welcome p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

/* Services offered */
.pickup {
    padding: 50px 10px;
    border: solid transparent 2px;
}
.pickup:hover {border: solid #F6AE2D 2px;}
.pickup i {
    color: #F6AE2D;
    display: block;
    text-align: center;
}
.pickup h4 {
    text-align: center;
    margin-top: 0;
}
.pickup a{
    text-decoration: none;
    list-style: none;
    color:black;
    text-align: center;
}
/* Rest is for the restaurant class */
.rest {
    padding: 50px 10px;
    border: solid transparent 2px;
}
.rest:hover {border: solid #F6AE2D 2px;}
.rest i {
    color: #F6AE2D;
    display: block;
    text-align: center;
}
.rest h4 {
    text-align: center;
    margin-top: 0;
}
.rest a{
    text-decoration: none;
    list-style: none;
    color:black;
    text-align: center;
}
.wifi {
    padding: 50px 10px;
    border: solid transparent 2px;
}
.wifi:hover {border: solid #F6AE2D 2px;}
.wifi i {
    color: #F6AE2D;
    display: block;
    text-align: center;
}
.wifi h4 {
    text-align: center;
    margin-top: 0;
}
.wifi a{
    text-decoration: none;
    list-style: none;
    color:black;
    text-align: center;
}
.security {
    padding: 50px 10px;
    border: solid transparent 2px;
}
.security:hover {border: solid #F6AE2D 2px;}
.security i {
    color: #F6AE2D;
    display: block;
    text-align: center;
}
.security h4 {
    text-align: center;
    margin-top: 0;
}
.security a{
    text-decoration: none;
    list-style: none;
    color:black;
    text-align: center;
}
.flexService {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/* CEO's remark */
.test {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.test span {
    color: #F6AE2D;
}
.test h3 {
    color: #F6AE2D;
}
.test h3, h5 {
    margin: 0;
}
.test img {
    border-radius: 50%;
    height: 150px;
    width: auto;
    text-align: center;
}

/* Chrismas Discount */
.discount {
    position: relative;
}
.book {
    position: absolute;
    top: 25%;
    right: 10%;
}
.book h1 {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    font-family: "Open sans", sans-serif;
    width: 700px;
    text-align: center;
}

.bookNow {
    position: absolute;
    bottom: 5rem;
    right: 28rem;
}
.bookNow button {
    font-size: 16px;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    color: #fff;
    background-color: #F6AE2D;
    outline: none;
}
.bookNow button:hover {
    background-color: transparent;
    border: solid #F6AE2D 3px;
}
.couple {
    position: absolute;
    top: 30%;
    left: 20%;
}
.couple img {
    border-radius: 50%;
    height: 200px;
    width: auto;
}
/* Making size for the location of the map */
.map {
    height: 250px;
    width: 350px;
}
.mapping .info h1 {
    text-align: center;
    font-family: "Open sans", sans-serif;
    font-size: 21px;
}
.mapping .info span{
    color: #F6AE2D;
}
.mapping .followUs span {
    color: #333;
    background-color: rgba(225,225,225, 0.3);
    padding: 5px;
}
.flexInfo {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
.flexInfo h1 {
    font-family: "Open sans", sans-serif;
}
.footer {
    margin-top: 30px;
    text-align: center;
}

/* Tablet version */
@media(max-width: 768px){
    .container {
        width: 90%;
    }
}
/* Mobile version */

@media(max-width: 480px){
    .container {
        width: 90%;
    }
    nav {
        display: none;
    }
    .times, .bar {
        display: contents;
    }
    .logo {
        position: relative;
        padding: 30px 0;
    }
    .imgLogo {
        text-align: center;
    }
    .bar button {
        position: absolute;
        right: 8px;
        top: 28px;
        padding: 7px;
        border: none;
        background-color: #F6AE2D;
        color: #fff;
    }
    .home h1 {
        font-size: 30px;
        width: 100%;
        margin-bottom: 15px;
    }
    .home h2 {
        font-size: 23px;
        display: inline-block;
    }
    .cover img{
        width: 100%;
        height: 300px;
    }
    .flexService {
        display: flex;
        flex-direction: column;
    }
    .pickup, .rest, .wifi, .security {
        padding: 15px 10px;
    }
    .test {
        margin-bottom: 10px;
    }
    .book {
        top: 50%;
        text-align: center;
    }
    .book h1 {
        font-size: 20px;
        width: auto;
    }
    .bookNow {
        position: absolute;
        top: 70%;
        left: 35%;
    }
    .couple {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .couple img {
        border-radius: 50%;
        height: 150px;
        width: auto;
    }
    .discount img:nth-child(3){
        width: 100%;
    }
    .flexInfo {
        flex-direction: column;
    }
    .map {
        height: 250px;
        width: 250px;
        order: 2;
    }
}
